#crossword {
    display: grid;
    padding: 2%;
}
.cell {
    display: grid;
    grid-template-columns: 10% 90%;
    border: 1px solid black;
}

.cell.empty {
    border: none;
}

.cell.filled {
    background-color: gray;
}

input {
    background: transparent;
    border: none;
}
.letter {
    padding: 2%;
    font-size: 1.5em;
    text-align: center;
}

.invisible {
    opacity: 0;
}

h1 {
    text-align: center;
}

.active-button {
    border: 4px inset silver;
    border-radius: 25%;
}

#mode-switch-buttons, #mode-description {
    padding: 2%;
    text-align: center;
}
